<header>
    <a href="https://www.uv.mx/" class="logo-uv position-absolute top-0 btn btn-link btn-sm bg-verde text-white px-3 py-0 rounded-0 text-decoration-none" style="z-index: 1031" title="Universidad Veracruzana" target="_blank">Universidad Veracruzana</a>
</header>