@{
    ViewData["Title"] = Localizer["Acceso denegado"];
}

<div class="container my-2">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-muted">@Localizer["El usuario actual no tiene acceso a este apartado."]</p>
</div>


