@model IEnumerable<RegistroTipo>
@{
    ViewData["Title"] = Localizer["Registros"];
}
<h3 class="my-5 text-center">Reunión de Historiadores</h3>

<div class="row mt-5 p-3">
    <div class="col mt-5">
        <div class="card mt-5 shadow">
            <div class="card-body text-center">
                <i class="bi bi-person-fill size-ic"></i>
                <h5 class="card-title">Ponencias</h5>
            </div>
            <div class="card-footer bg-transparent text-center">@Html.ActionLink("Ver registros", "Index", "Ponencias", null, new { @class = "btn btn-primary" })</div>
        </div>
    </div>
    <div class="col mt-5">
        <div class="card mt-5 shadow">
            <div class="card-body text-center">
                <i class="bi bi-person-lines-fill size-ic"></i>
                <h5 class="card-title">Mesas</h5>
            </div>
            <div class="card-footer bg-transparent text-center">@Html.ActionLink("Ver registros", "Index", "Mesas", null, new { @class = "btn btn-primary" })</div>
        </div>
    </div>
    <div class="col mt-5">
        <div class="card mt-5 shadow">
            <div class="card-body text-center">
                <i class="bi bi-people-fill size-ic"></i>
                <h5 class="card-title">Simposios</h5>
            </div>
            <div class="card-footer bg-transparent text-center">@Html.ActionLink("Ver registros", "Index", "Simposios", null, new { @class = "btn btn-primary" })</div>
        </div>
    </div>
</div>