<!-- Modal aviso-->
<div class="modal fade" id="modalAviso" tabindex="-1" aria-labelledby="modalAvisoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAvisoLabel">AVISO DE PRIVACIDAD</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h4 class="text-center">AVISO DE PRIVACIDAD SIMPLIFICADO</h4>
                    <p class="my-4"><strong>Aviso de Privacidad simplificado del  Formato de Registro en línea de Eventos.</strong></p>
                    <p>La <strong>Universidad Veracruzana</strong>, es el responsable del tratamiento de los datos personales que nos proporcione.</p>
                    <p>Los Datos Personales que recabamos de usted, los utilizaremos para las siguientes finalidades:</p>
                    <p>
                        a) Asegurar su registro y posible contacto a través de los datos que nos proporcione;<br>
                        b) Contar con información estadística de los registros.
                    </p>

                    <p><strong>Datos Personales recabados</strong></p>
                    <p>Para la finalidad antes señalada, se solicitarán los siguientes datos personales:  Nombre completo, correo electrónico, teléfono, grado de estudios, dirección particular (opcional), y/o RFC.</p>
                    <p>"Se informa que no se recaban datos personales sensibles".</p>
                    <p>Le informamos que sus datos personales no son compartidos con personas, empresas, organizaciones y autoridades distintas a la Universidad Veracruzana.</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Destinatario de los Datos Personales</th>
                                <th>País(Opcional)</th>
                                <th>Finalidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dependencia o entidad universitaria organizadora del evento.</td>
                                <td>México</td>
                                <td>Llevar el control de registros de participación al evento.</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Para mayor información acerca del tratamiento y de los derechos que puede hacer valer, usted puede acceder al aviso de privacidad del Formato de registro en línea de eventos, localizado en el portal de cada evento organizado por una entidad académica o dependencia universitaria.</p>
                </div>
                <hr />
                <div>
                    <h4 class="text-center">AVISO DE PRIVACIDAD INTEGRAL</h4>
                    <p class="my-4"><strong>Aviso de Privacidad integral del Formato de Registro en línea de Eventos.</strong></p>
                    <p>La <strong>Universidad Veracruzana</strong>, con domicilio en el Edificio “A” 5to. Piso de Rectoría, calle circuito Gonzalo Aguirre Beltrán S/N, Col. Zona Universitaria de la Ciudad de Xalapa, Veracruz, Código Postal 91000, es el responsable del tratamiento de los datos personales que nos proporcione, los cuales serán protegidos conforme a lo dispuesto por la Ley 251 de Protección de Datos Personales en Posesión de Sujetos Obligados para el Estado de Veracruz, y demás normatividad que resulte aplicable.</p>

                    <p><strong>Finalidades del tratamiento</strong></p>
                    <p>Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades:</p>
                    <p>
                        a) Asegurar su registro y posible contacto a través de los datos que nos proporcione;<br>
                        b) Contar con información estadística de los registros.
                    </p>

                    <p>De manera adicional, utilizaremos su información personal para las siguientes finalidades que no son necesarias, pero que nos permiten y facilitan brindarle una mejor atención: El organizador del evento tendrá la posibilidad de contactarlo para proporcionarle información relevante del evento y/o notificarle las fechas importantes previas al mismo.</p>
                    <p>En caso de que no desee que sus que sus datos personales sean tratados para las finalidades adicionales, esta plataforma le permitirá indicarlo o usted puede manifestarlo así al correo electrónico al organizador del evento, publicado en el registro en línea del evento.</p>

                    <p><strong>Datos Personales recabados</strong></p>
                    <p>Para las finalidades antes señaladas se solicitarán los siguientes datos  personales: Nombre completo, correo electrónico, teléfono, grado de estudios, dirección particular (opcional), y/o RFC.</p>

                    <p>"Se informa que no se recaban datos personales sensibles".</p>

                    <p><strong>Fundamento Legal</strong></p>
                    <p>El fundamento para el tratamiento de datos personales y transferencia es (o son): la Ley 251 de Protección de Datos Personales en Posesión de Sujetos Obligados para el Estado de Veracruz, y demás normatividad que resulte aplicable.</p>

                    <p><strong>Transferencia de datos personales</strong></p>
                    <p>Le informamos que sus datos personales no son compartidos con personas, empresas, organizaciones y autoridades distintas a la Universidad Veracruzana.</p>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Destinatario de los Datos Personales</th>
                                <th>País(Opcional)</th>
                                <th>Finalidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dependencia o entidad universitaria organizadora del evento.</td>
                                <td>México</td>
                                <td>Llevar el control de registros de participación al evento.</td>
                            </tr>
                        </tbody>
                    </table>

                    <p><strong>Derechos ARCO</strong></p>
                    <p>Usted tiene derecho a conocer qué datos personales se tienen de usted, para qué se utilizan y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones previstas en la ley (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.</p>

                    <p>Para el ejercicio de cualquiera de los derechos ARCO, usted podrá presentar solicitud por escrito ante la <strong>Coordinación de Transparencia</strong>, formato o medio electrónico <strong>datospersonales@uv.mx</strong> la que deberá contener:</p>

                    <ul>
                        <li>El nombre del titular y su domicilio o cualquier otro medio para recibir notificaciones;</li>
                        <li>Los documentos que acrediten la identidad del titular, y en su caso, la personalidad e identidad de su representante;</li>
                        <li>De ser posible, el área responsable que trata los datos personales;</li>
                        <li>La descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos ARCO, salvo que se trate del derecho de acceso;</li>
                        <li>La descripción del derecho ARCO que se pretende ejercer, o bien, lo que solicita el titular, y</li>
                        <li>Cualquier otro elemento o documento que facilite la localización de los datos personales, en su caso.</li>
                    </ul>
                    <p>En caso de solicitar la rectificación, adicionalmente deberá indicar las modificaciones a realizarse y aportar la documentación oficial necesaria que sustente su petición. En el derecho de cancelación debe expresar las causas que motivan la eliminación. Y en el derecho de oposición debe señalar los motivos que justifican se finalice el tratamiento de los datos personales y el daño o perjuicio que le causaría, o bien, si la oposición es parcial, debe indicar las finalidades específicas con las que se no está de acuerdo, siempre que no sea un requisito obligatorio.</p>
                    <p>La <strong>Coordinación de Transparencia</strong> responderá en el domicilio o medio que el titular de los datos personales designe en su solicitud, en un plazo de 15 días hábiles, que puede ser ampliado por 10 días hábiles más previa notificación. La respuesta indicará si la solicitud de acceso, rectificación, cancelación u oposición es procedente y, en su caso, hará efectivo dentro de los 15 días hábiles siguientes a la fecha en que comunique la respuesta.</p>

                    <p><strong>Datos de la Coordinación de Transparencia</strong></p>
                    <p>
                        <strong>Domicilio:</strong> Calle Veracruz # 46 Depto. 5, Fracc. Pomona, C.P. 91040.<br>
                        <strong>Teléfono:</strong> (228) 841-59-20, 818-78-91<br>
                        <strong>Correo electrónico institucional:</strong> transparencia@uv.mx
                    </p>

                    <p><strong>Cambios al Aviso de Privacidad</strong></p>
                    <p>En caso de realizar alguna modificación al Aviso de Privacidad, se le hará de su conocimiento a través del portal de registro de eventos.</p>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>